name: CI

on:
  push:
    branches: [ main ]

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install mlflow==2.19.0 pandas scikit-learn==1.5.2

      - name: Run MLflow Project
        run: mlflow run ./MLProject --env-manager=local
